.container {
  display: flex;
  flex-direction: column;

  border: 0.1rem solid grey;
  border-radius: 0.5rem;
  width: 50%;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  color: grey;
  text-decoration: none;
  border-bottom: 0.1rem solid grey;
}

/* non-active links */
.link {
  font-weight: bold;
  color: inherit;
  text-decoration: inherit;
}

/* active links */
.link-active {
  color: blue;
  border-bottom: 0.5px solid blue;
}

a {
  text-decoration: none;
  color: blue;
}
